* {
  box-sizing: border-box;
  text-align: center;
  font-family: Georgia;
}

.media {
  width: 260px;
}

.like {
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  overflow: scroll;
  border: 5px solid purple;
  border-radius: 10px;
}

.welcome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./heart.png');
  background-size: 300px;
}

.welcome .content {
  border: 10px solid pink;
  color: purple;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  background-color: white;
}

.header {
  position: fixed;
  background-color: white;
  color: purple;
  width: 100%;
  z-index: 10;
  padding: 10px;
  background-image: url('./heart.png'), url('./heart.png');
  background-position: top 10px left 10px, top 10px right 10px;
  background-repeat: no-repeat;
  background-size: 60px;
}

.content {
  padding-top: 100px;
}

.match {
  border: 5px solid pink;
  background-image: url('./heart.png');
  background-size: 80px;
}

.selected-option {
  border: 5px solid pink;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 5px solid pink;
  color: purple;
}

li {
  text-align: left;
}

.text {
  background-color: white;
}

.likes-header {
  position: sticky;
  top: 85px;
  background-color: white;
  z-index: 10;
}

label {
  padding: 5px;
  margin: 0 5px;
}

.info {
  padding: 0 100px;
}

.form-section {
  display: inline-flex;
  margin: 0 30px;
}